<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiUrl"
             value="https://localhost:5001"/>
		<add key="aesKeySalt"
             value="i_love_bananas"/>
		<add key="messageLength"
			 value="30"/>
		<add key="passwordLength"
			 value="8"/>
	</appSettings>
	<connectionStrings>
		<add name="default"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=DoubleEncryptionSystem;Trusted_Connection=True;MultipleActiveResultSets=true;" /> 
	</connectionStrings>
</configuration>